*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #ADD8E6;
}
.medsos ul li {
	display: inline-block;
	color: #fff
	;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content:'';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #ADD8E6;
}
header ul {
		float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #ADD8E6;
	color: #fff;
}
.active{
	background-color: #ADD8E6;
	color: #fff;
}
.benner {
	height: 60vh;
	background-image: url('../img/coding.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner:after{
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(173, 216, 230);
}
.benner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid;
}
section{
	padding: 50px 0 ;
}
section h3{
	text-align: center;
	padding: 20px;
	color: #ADD8E6
}