*{
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #147FB9;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content:'';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #147FB9;
}
header ul {
		float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #147FB9;
	color: #fff;
}
.active{
	background-color: #147FB9;
	color: #fff;
}
.benner {
	height: 60vh;
	background-image: url('../img/benner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner:after{
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 127, 185, 0);
}
.benner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid;
}
.home {
	background: linear-gradient(to center, rgb(62, 254, 255),rgb(173, 255, 48));
	padding:80px 0;
}
section {
	padding:50px 0;
}
.home img {
	width: 170px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #147FB9;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #F84744;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}
#login{
	background-color: #f9f9f9;
}
.login1{
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background-color: #ffffff;
    border-radius: 3px;
}
}
.label{
    font-size: 10pt;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="website"],
textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

.tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}
input[type="text"],
input[type="text"],
input[type="text"],{
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}
.tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
}
#Image {
	background-color: #f9f9f9;
}
.col-2 {
	width:50%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-2 img {
	width:50%;
}
.col-2 a:hover img {
	transform: scale(1.2);
}
#contact p{
	text-align: justify;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
#contactUs{
	background-color: #f9f9f9;

}
.error{
	color: red;
}
.error-border{
	border-bottom: 1px solid red;
}
#succes{
	color: Green;
}
footer {
	background-color: #147FB9;
	padding:25px;
	text-align: center;
}
footer small {
	color: #fff;
}